{% extends 'base.html.twig' %}

{% block title %} CAR RENT{% endblock %}

{% block body %}
  <!--== SlideshowBg Area Start ==-->
      <section id="slideslow-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slideshowcontent">
                        <div class="display-table">
                            <div class="display-table-cell">
                                 <br>
                                 <br>
                                <h1>Trouvons ensemble la voiture idéale..</h1>
                                <p>Choisir une de nos voiture et bénificier de 15% DISCOUNT <br> OFFRE RESERVEE AU CLIENTELE</p> 
                                <div class="book-ur-car">

                                 {{ form_start(form) }}
                                        <div class="car-choose bookinput-item ">
                                     
                                         
                                            {{ form_widget(form.pickLocation, { 'attr' :{'placeholder':'lieu de départ'}}) }}
                                        </div>

                                        <div class="pick-date bookinput-item">
                                           <i class="fas fa-clock-alt"></i>
                                           
                                            {{ form_widget(form.pickDate, { 'attr' :{'placeholder':'Debut de location'}}) }}
                                        </div>

                                        <div class="retern-date bookinput-item">
                                           <i class="fas fa-calendar-alt"></i>
                                         
                                            {{ form_widget(form.returnDate, { 'attr' :{'placeholder':'Fin de location','id' : 'endDate2'}}) }}
                                            <i class="fas fa-calendar-alt"></i>
                                        </div>

                                        <div class="car-choose bookinput-item ">
                                           
                                            {{ form_widget(form.car, { 'attr' :{'placeholder':'Marque de voiture'}}) }}
                                       
                                        </div>
                                         <div><button type="submit" class="btn"><a href="{{ path('car_index')}}"></a>Rechercher</button></div>
                                   {{ form_end(form) }}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== SlideshowBg Area End ==-->
    <br>
    <br>


    <!--== About Us Area Start ==-->
    <section id="about-area" class="section-padding">
        <div class="container">

            <div class="row">
                <!-- About Content Start -->
                <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">
                            <h2>A Propos de nous</h2>
                                <p>
                                   Depuis 2009, AUTO RENT révolutionne l’industrie du voyage. Un moteur de recherche dédié au location de     tout type de véhicule.
                                    Aujourd’hui, nous traitons plus de 40000 recherches annuelles sur nos plateformes et aidons des milliers de voyageurs dans le monde entier à être sûrs de leurs décisions. À chaque recherche, CAR RENT parcourt des dizaines d'annonces afin de présenter aux voyageurs les informations nécessaires pour trouver les locations de voitures qui leur conviennent

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="{{ asset('images/home-2-about.png')}}" alt="JSOFT">
                    </div>
                </div>
                <!-- About Video End -->
            </div>

            <!-- About Fretutes Start -->
            <div class="about-feature-area">
                <div class="row">
                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item active">
                            <i class="fa fa-car"></i>
                            <h3>Notre gamme de véhicule</h3>
                            <p>
                                Des petites citadines aux supercars, vous trouverez assurément le modèle qui vous convient dans notre vaste gamme de véhicules. Que vous soyez à la recherche d’une voiture élégante et compacte ou d’une berline haut de gamme, la qualité est toujours au rendez-vous.
                            
                            </p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->

                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>Personnaliser votre voyage</h3>
                            <p>                            
                                Faites de votre voyage une expérience inoubliable avec nos options supplémentaires. Gardez le contact où que vous soyez avec le Wi-Fi mobile et laissez-vous guider avec le GPS haut de gamme.
                            </p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->

                    <!-- Single Fretutes Start -->
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>La location de véhicules avec AUTO RENT</h3>
                            <p>                            
                            Avec AUTO RENT, vous êtes sûr de toujours arriver à bon port, confortablement installé dans un véhicule parmi les plus récents et avec l’assurance d’un service excellent. Présents dans 165 pays, nous sommes là pour faciliter votre voyage, vous permettant ainsi de mieux profiter de votre prochaine destination.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->
                </div>
            </div>
            <!-- About Fretutes End -->
        </div>
    </section>
    <!--== About Us Area End ==-->
    
    <!--== Fun Fact Area Start ==-->
    <section id="funfact-area" class="overlay section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12 m-auto">
                    <div class="funfact-content-wrap">
                        <div class="row">
                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">550</span>+</p>
                                        <h4>Clients satisfait</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->

                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">250</span>+</p>
                                        <h4>Voitures en stock</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->

                            <!-- Single FunFact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">50</span>+</p>
                                        <h4> Agences </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FunFact End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Fun Fact Area End ==-->
<br>
<br>

    <!--== Pricing Area Start ==-->
    <section id="pricing-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Services de qualité pour nos clients</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>NOS OFFRES SPECIALES</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <!-- Pricing Table Conatent Start -->
            <div class="row">
                <!-- Single Pricing Table -->
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-pricing-table">
                        <h3>BUSINESS</h3>
                        <h2> 55.99 €</h2>
                        <h5>PAR MOIS</h5>

                        <ul class="package-list">
                            <li>LIVRAISON VEHICULE SANS FRAIS</li>
                            <li>MARIAGE,FETES</li>
                            <li>ASSURRANCE INCLUS</li>
                            <li>TRANSPORT A L'ETRANGER</li>
                            <li>CHAUFFEEUR INCLUS</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Pricing Table -->

                <!-- Single Pricing Table -->
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-pricing-table">
                        <h3>ESSAI GRATUIT</h3>
                        <h2>GRATUIT</h2>
                        <h5>PAR MOIS</h5>

                        <ul class="package-list">
                            <li>LIVRAISON VEHICULE SANS FRAIS</li>
                            <li>TOUT TYPES DE FETES</li>
                            <li>ASSURRANCE</li>
                            <li>TRANSPORT A L'ETRANGER</li>
                            <li>CHAUFFEUR INCLUS</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Pricing Table -->

                <!-- Single Pricing Table -->
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-pricing-table">
                        <h3>STANDARD</h3>
                        <h2> 35.99 €</h2>
                        <h5>PAR MOIS</h5>

                        <ul class="package-list">
                            <li>LIVRAISON VEHICULE A L'AIROPORT</li>
                            <li>MARIAGES</li>
                            <li>ASSURRANCE</li>
                            <li>TRANSPORT A L'ETRANGER</li>
                            <li>CHAUFFEEUR INCLUS</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Pricing Table -->
            </div>
            <!-- Pricing Table Conatent End -->
        </div>
    </section>
    <!--== Pricing Area End ==-->

    <!--== Team Area Start ==-->
    <section id="team-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Notre Equipe</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Notre Equipe Est La Pour Vous!.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
   
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-content">
                        <div class="row">
                            <!-- Team Tab Menu start -->
                            <div class="col-lg-4">
                                <div class="team-tab-menu">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="{{ asset('images/loubna.jpg')}}" alt="JSOFT">
                                                </div>
                                                <h5>Tina mamy</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="{{ asset('images/loubna.jpg')}}" alt="JSOFT">
                                                </div>
                                                <h5>Loubna binou</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="{{ asset('images/team/team-mem-2.png')}}" alt="JSOFT">
                                                </div>
                                                <h5>Loussa loussi</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="{{ asset('images/team/team-mem-4.png')}}" alt="JSOFT">
                                                </div>
                                                <h5>kelloumi</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Team Tab Menu End -->

                            <!-- Team Tab Content start -->
                            <div class="col-lg-8">
                                <div class="tab-content" id="myTabContent">
                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="{{ asset('images/loubna.jpg')}}" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Tina mamy</h4>
                                                    <h5>Developer</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->

                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="{{ asset('images/loubna.jpg')}}" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>loubna binou</h4>
                                                    <h5>Designer</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->

                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="{{ asset('images/team/team-mem-2.png')}}" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>loussa loussi</h4>
                                                    <h5>Marketer</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->

                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="{{ asset('images/team/team-mem-4.png')}}" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Akrem keloumi</h4>
                                                    <h5>Manager</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->
                                </div>
                            </div>
                            <!-- Team Tab Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Team Area End ==-->

{% endblock %}

