{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Réservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Départ de :</th>
                <td>{{ booking.pickLocation }}</td>
            </tr>
            <tr>
                <th>Debut de location</th>
                <td>{{ booking.pickDate ? booking.pickDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de location</th>
                <td>{{ booking.returnDate ? booking.returnDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ booking.car }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">Retour</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
