{% extends 'base.html.twig' %}

{% block title %}Liste de voitures{% endblock %}

{% block body %}
    <h1>Liste de voitures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Année</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.price }}</td>
                <td>
                   <img src="{{ asset('uploads/images/cars/')}}{{ car.image }}" style="width:75px">
                </td>
                <td>{{ car.isNew ? 'Yes' : 'No' }}</td>
                <td>
                <td>    
                    <a href="{{ path('car_show', {'id': car.id}) }}"><img src="{{ asset('../images/search.png')}}"></a>
                </td>
                <td>
                    <a href="{{ path('car_edit', {'id': car.id}) }}"><img src="{{ asset('../images/edit.png')}}"></a>
                </td>
                 <td>    
                    <a href="{{ path('car_delete', {'id': car.id}) }}"><img src="{{ asset('../images/delete.png')}}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}">Ajouter une voiture</a>
{% endblock %}
